<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <link
      rel="icon"
      type="image/png"
      href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
    >

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {% render 'head-fonts' %}
    {% render 'head-analytics' %}
    {% render 'head-meta-tags' %}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_header_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace(
        'no-js',
        'js'
      );
    </script>
  </head>

  <body>
    <a class="skip-to-content-link button u-visuallyHidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    <!-- Content for header here -->

    <main id="MainContent">
      {{ content_for_layout }}
    </main>

    <!-- Content for footer here -->
    {% section 'footer' %}
  </body>
</html>
