{%- comment -%}
  TODO: styles/scheme mostly barrowed from Pleasing as starting point. Need designs and specs from design team
{%- endcomment -%}

{% liquid
  assign klaviyo_form_id = section.settings.show_klaviyo_form
  assign custom_logo = section.settings.custom_logo
  assign background_image = section.settings.background_image
  assign signup_message = section.settings.signup_message
  assign hide_login = section.settings.hide_login
%}

<div class='password-main'>
  {% if background_image %}
    <div class='password-bg-image'>
      {% render 'responsive-image' , image: background_image %}
    </div>
  {% endif %}
  <div class='password-content-container u-containerXNarrow u-contentWrapper'>
    {% if custom_logo %}
      <div class='password-logo-container '>
        {% render 'responsive-image' , image: custom_logo, widths: '400, 800', sizes: "(min-width: 750px) 400, 800" %}
      </div>
    {% else %}
      <div class='password-logo-container'>
        {% render 'graphic-logo-tasc-vertical' %}
      </div>
    {% endif %}
    {% unless hide_login == true %}
      <div class='password-login-container'>
        <h1 class='password-login-title'>Store Login</h1>
        {% unless shop.password_message == blank %}
          <p class='shop-password-message'>
            {{ shop.password_message }}
          </p>
        {% endunless %}

        {%- form 'storefront_password', class: 'password-form' -%}
          <div class='password-field field{% if form.errors %} password-field--error{% endif %}'>
            <div class='input-wrapper'>
              <input
                type='password'
                name='password'
                id='Password'
                class='password-input'
                autocomplete='current-password'
                {% if form.errors %}
                  aria-invalid='true'
                  aria-describedby='PasswordLoginForm-password-error'
                {%- endif -%}
                placeholder='{{ 'general.password_page.login_form_password_placeholder' | t }}'
              >
              <label
                class='field__label u-visuallyHidden'
                for='{{ 'general.password_page.login_form_password_label' | t }}'
              >
                {{- 'general.password_page.login_form_password_placeholder' | t -}}
              </label>
            </div>
            {%- if form.errors -%}
              <div id='PasswordLoginForm-password-error' class='u-error' role='status'>
                <span class='u-visuallyHidden'>{{ 'accessibility.error' | t }}</span>
                <span class='password-form__message'>
                  {%- render 'icon-error' %}
                  {{ 'general.password_page.login_form_error' | t -}}
                </span>
              </div>
            {%- endif -%}
          </div>
          <button name='commit' class='password-button button'>
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {%- endform -%}
      </div>
      <p class='password__footer-text'>{{ 'general.password_page.admin_link_html' | t }}</p>
    {% endunless %}
    {% if klaviyo_form_id %}
      <div class='password-klaviyo-container u-contentWrapper'>
        <div id='klaviyo-wrapper' class='signup-form-wrapper'>
          <div class='signup-form__text'>{{ signup_message }}</div>
          <div class='klaviyo-form-{{ klaviyo_form_id }}'></div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "password-main",
  "settings": [
    {
      "id": "custom_logo",
      "label": "custom_Logo",
      "type": "image_picker"
    },
    {
      "id": "background_image",
      "label": "Background Image",
      "type": "image_picker"
    },
    {
      "id": "show_klaviyo_form",
      "label": "Show Klaviyo Form",
      "type": "checkbox"
    },
    {
      "id": "signup_message",
      "label": "Klaviyo Signup Message",
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "password-main",
      "settings": {
        "signup_message": "Sign up for the newsletter to get the latest updates"
      }
    }
  ]
}
{% endschema %}
